@model Discord.IUser

@{
    ViewData["Title"] = "About me";
}

@if (User?.Identity?.IsAuthenticated ?? false)
{
    <h1>Welcome, @User.Identity.Name</h1>

    <img src="@Model.GetAvatarUrl(Discord.ImageFormat.Auto, 128)" alt="@Model.Username" />
}
