
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Access level</th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: Roles">
        <tr>
            <td data-bind="text: name"></td>
            <td>
                <select data-bind="options: accessLevels,
                       optionsText: 'name',
                       optionsValue: 'value',
                       value: accessLevel"></select>
            </td>
            <td>
                <button data-bind="click: update, enable: hasChanged"><i class="fas fa-save"></i></button>
                <button data-bind="click: reset, enable: hasChanged"><i class="fas fa-eraser"></i></button>
            </td>
        </tr>
    </tbody>
</table>

