@model IEnumerable<Substitute.Business.DataStructs.Guild.UserGuildModel>

@{
    ViewData["Title"] = "Choose Guild";
}

<h2>Choose guild</h2>

<ul class="guild-list">
    @foreach (var item in Model)
    {
        <li>
            <a class="guild-list-item" href="@Url.Action("Choose", new { guildId = item.Id })" title="@item.Name">
                @if (string.IsNullOrWhiteSpace(item.IconUrl))
                {
                    <div class="guild-icon">@(string.Join("", item.Name.Split(' ').Select(w => w.First())))</div>
                }
                else
                {
                    <img class="guild-icon" src="@item.IconUrl" alt="" />
                }
            </a>
        </li>
    }
</ul>